<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File not found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    <style>
        .mode-switch {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 999;
        }
    </style>
</head>
<body class="dark-mode">
    <div class="mode-switch" >
        <label for="dark-mode-toggle">Тёмный режим</label>
        <input type="checkbox" id="dark-mode-toggle" checked>
    </div>
    <div class="blog-post" style="text-align: center;">
        <h1>Файл не найден</h1>
        <a href="/blog">Вернуться к списку</a>
    </div>
    <script>
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        darkModeToggle.addEventListener('change', () => {
            document.body.classList.toggle('light-mode', !darkModeToggle.checked);
            document.body.classList.toggle('dark-mode', darkModeToggle.checked);
        });
    </script>
</body>
</html>
