<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
</head>
<body class="dark-mode">
    <div class="mode-switch" onclick="toggleDarkMode()">
        <img src="" alt="theme" id="mode-icon" class="mode-icon">
    </div>
    <div class="blog-list">
        {% for post in blog_list %}
            <div class="blog-item">
                <a class="metadata" href="{{ url_for('blog_post', path=post.file_name) }}">
                    <p class="metadata-left underline" style="font-size: 1.5em; font-weight: bold;">{{ post.title }}</p>
                    <p class="metadata-right edited">{{ post.edited }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <script src="/static/js/theme.js"></script>
</body>
</html>
