<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight_themes.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
</head>
<body class="dark-mode theme-tokyo-night-dark">
    <div class="mode-switch" onclick="toggleDarkMode()">
        <img src="" alt="theme" id="mode-icon" class="mode-icon">
    </div>
    <div class="blog-post">
        <p style="font-size: 2em; margin: .67em 0; font-weight: bold;">{{ title }}</p>
        <div class="metadata">
            <p class="metadata-left"><a class="underline" href="/blog">Блог</a> > {{ group }} > {{ title }}</p>
            <p class="metadata-right">Просмотрено раз: {{ counter }}</p>
        </div>
        <p class="edited">Последнее редактирование: {{ edited }}</p>
    </div>
    <div class="blog-post-content">
        {{ content|safe }}
    </div>
    <script src="/static/js/theme.js"></script>
    <script src="/static/js/blog.js"></script>
</body>
</html>
